#main{
    background-image: url(../imagenes/fondo-general.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, .1);
    height: 100vh;
    object-fit: cover;
    filter: grayscale(10%);
    font-family: "Century Gothic"
}
#header img {
    width: 100px;
    height: 40px;
}
.navbar-nav {
    font-size: 13px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
#main {
    height: 100vh;
}

#main .row {
    color: #000000;
}
.sticky-top {
    background-color: #1D2D44;
}

#main .col {
    background-color: inherit;
    max-width: 95%;
    margin: 45% auto;
    padding: 10px 0;
    height: 180px;
    border: 1px solid #8c8b8b;
    background-color: rgba(82,82,82,.6);
    box-shadow:  0 0 5px 2px #555555 
}

#main .col .titulo1 {
    margin: 0px 4%;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}
#main .col .titulo2 {
    margin: 5px 2%;
    font-size: 11.5px;
    font-weight: 500;
    text-align: center;
}
#main .col .titulo3 {
    margin: 5px 17%;
    font-size: 11.5px;
    font-weight: 500;
    text-align: center;
}
#main .col .titulo4 {
    margin: 5px 18%;
    font-size: 11.5px;
    font-weight: 500;
    text-align: center;
}
#main .col .cv{
    margin: 5px auto;
    width: 55%;
    padding: 1%;
    text-align: center;
}
#main .col .cv a{
    padding: 5%;
    background-color: #1D2D44;
    border: 1px solid #748CAB;
    box-shadow:  0 0 1px 1px #748CAB; 
    color: #F0EBD8;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
}
#main .col .cv i{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

#main .col span{
    color: #F0EBD8
}
#about {
    background-color: #ffffff;
    padding: 20px 0;
}

#about .fila2 {
    text-align: center;
}

#about .img-photo {
    width: 210px;
    height: 200px;
    margin: 10px auto;
}

#about img {
    width: 200px;
    height: 200px;
}

#about p {
    text-align: justify;
    font-size: 18px;
    margin: 15px 20px 5px;
}

#about .cv{
    margin: 15px 17% 5px;
    display: inline-block;
}
#about .cv a{
    padding: 9%;
    background-color: #1D2D44;
    border: 1px solid #748CAB;
    box-shadow:  0 0 1px 1px #748CAB; 
    color: #F0EBD8;
    text-decoration: none;
    font-size: 15px;
    border-radius: 2px;
}
#about .cv i{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 19px;
}
#habilidades {
    background-color: #ffffff;
    padding: 15px 0;
}

#habilidades h3 {
    text-align: center;
    font-size: 25px;
}

#habilidades .col-6 .titulo {
    margin: 0 0 15px 0;
    color: #000000;
}

#habilidades .col-6,
#habilidades .col-12 {
    margin: 10px 0;
    color: #000000;
}

#habilidades i {
    font-size: 50px;
    color: #0D1321;
}

#habilidades .imgIconoF img {
    width: 60px;
    height: 50px;
    margin: 3px 2px;
}
#habilidades .imgIconoG img {
    width: 60px;
    height: 60px;
    margin:0px 2px;
}
#habilidades .imgIconoB img {
    width: 60px;
    height: 60px;
    margin: 0px 2px;
}
#habilidades .imgIconoN img {
    width: 100px;
    height: 50px;
    margin: 0 2px;
}
#habilidades .imgIconoF img:hover {
    color: red;
}
#project {
    text-align: center;
    padding: 50px 0;

}

#project .fila1,
#project .fila2,
#project .fila3{
   background-color: rgba(254, 254, 255)

}
#project .fila1 .contenido, 
#project .fila2 .contenido, 
#project .fila3 .contenido {
    padding: 0px 10px;
}
#project .fila1,
#project .fila2,
#project .fila3 {
    margin: 10px 0px;
}

#project .fila1 img,
#project .fila2 img,
#project .fila3 img {
    width: 270px;
    height: 140px;
    margin: 10px 0px;
}

#project .fila1 h2,
#project .fila2 h2,
#project .fila3 h2 {
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
}

#project .fila1 .contenido p,
#project .fila2 .contenido p,
#project .fila3 .contenido p{
    text-align: justify;
    font-size: 14px;
    line-height: 20px
}
#project .fila1 .contenido span,
#project .fila2 .contenido span,
#project .fila3 .contenido span{
    font-size: 15px;
    font-weight: 600
}

#project .fila1 .links,
#project .fila2 .links,
#project .fila3 .links {
    width: 200px;
    padding: 5px;
    color: white;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
}
#project .fila1 .links .link1,#project .fila1 .links .link2,
#project .fila2 .links .link1,#project .fila2 .links .link2,
#project .fila3 .links .link1,#project .fila3 .links .link2 {
    width: 120px;
    padding: 5px;
}
#project .fila1 .links .link1 a,#project .fila1 .links .link2 a,
#project .fila2 .links .link1 a,#project .fila2 .links .link2 a,
#project .fila3 .links .link1 a,#project .fila3 .links .link2 a {

    padding: 2px 15px;
    margin: 5px;
    color: #F0EBD8;
    font-size: 15px;
    background-color: #1D2D44;
    border: 1px solid #748CAB;
    box-shadow:  0 0 1px 1px #748CAB; 
    border-radius: 2px;
}
#project .fila1 .links .link1 h5, #project .fila1 .links .link2 h5,
#project .fila2 .links .link1 h5, #project .fila2 .links .link2 h5,
#project .fila3 .links .link1 h5, #project .fila3 .links .link2 h5{
    text-align: center;
    color: #0D1321;
    margin: 5px 0 0 0;
    font-size: 12px
}
#project .hr1,
#project .hr2{
	border: 0;
    box-shadow: 0 0 5px 0 #8c8b8b;    
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#contactame {
    background-color: #3E4E59;
}
#contactame .col-3, #contactame .col-2, #contactame .col-2, #contactame .col-1, #contactame .col-4{
  padding: 0;
}

#contactame .fila1 .linke a,
#contactame .fila1 .git a,
#contactame .fila1 .mail a{
    padding: 0;
    font-size: 11px;
}
p{
    margin: 0;
}
#contactame .fila1 .mail-name p,
{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 11px;
}
#contactame .fila1 .mail-name{
    display: block;
    font-size: 11px;
    padding-top: 11px;

}
#contactame .col-2 {
    max-width: 14%;
    padding-top: 5px
}
#contactame .col-1 {
    max-width: 10%;
}
#contactame .fila1 .mail{
    display: none
}
#contactame .fila1 .guion{
    padding-top: 20px;
}
#contactame .fila1 .guion div{
    width: 10px;
    height: 2px;
    background-color: #ffffff;
}

#contactame a,#contactame p {
    text-decoration: none;
    color: #ffffff;
}
#contactame .fila1 .logo img{
    width: 70px;
    height: 35px;
    padding-top: 5px
}
#contactame .fila1 .logo{
    padding-left: 5px;
}

#contactame a:hover {
    text-decoration: none;
    color: #F0EBD8;
}
@media (min-width: 576px) {
    #main .col {
        max-width: 70%;
        margin: 17% auto;
        height: 250px;
        border-radius: 2px;
    }

    #main .col .titulo1 {
        margin: 10px 0;
        font-size: 35px;
        font-weight: 500;
    }
    #main .col .titulo2 {
        margin: 5px 9%;
        font-size: 16px
    }
    #main .col .titulo3 {
        margin: 5px 20%;
        font-size: 16px
    }
    #main .col .titulo4 {
        margin: 5px 20%;
        font-size: 16px
    }
    #main .col .cv{
        padding: 1%;
        margin: 25px auto;
    width: 55%;
    padding: 1%;
    text-align: center;
    }


}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {

        font-size: 20px;
    }
    #main .col {
        max-width: 90%;
        margin: 17% auto;
        height: 250px;
        border-radius: 2px;
    }

    #main .col .titulo1 {
        margin: 10px 0;
        font-size: 30px;
        font-weight: 500;
    }
    #main .col .titulo2 {
        margin: 5px 9%;
        font-size: 16px
    }
    #main .col .titulo3 {
        margin: 5px 20%;
        font-size: 16px
    }
    #main .col .titulo4 {
        margin: 5px 20%;
        font-size: 16px
    }
    #main .col .cv{
        padding: 1%;
        margin: 25px auto;
    width: 55%;
    padding: 1%;
    text-align: center;
    }
}

@media (min-width: 992px) {


    #header img {
        width: 160px;
        height: 60px;
    }
    .opciones{
        margin: 0 15px;
    }
    .navbar-expand-lg .navbar-nav {
        font-size: 20px;
    }

    #main .col {
        max-width: 70%;
        margin: 10% auto;
        height: 300px;
    }

    #main .col .titulo1 {
        margin: 10px 0;
        font-size: 45px;
        font-weight: 500;
    }
    #main .col .titulo2 {
        margin: 5px 15%;
        font-size: 18px
    }
    #main .col .titulo3 {
        margin: 5px 26%;
        font-size: 18px
    }
    #main .col .titulo4 {
        margin: 5px 27%;
        font-size: 18px
    }
    #main .col .cv{
        margin: 25px auto;
    width: 55%;
    padding: 1%;
    text-align: center;
    }

    #main .col .cv i{
        display: inline;
        margin-right: 5px;
        font-size: 20px;
    }

    #main .col span{
        color: #F0EBD8
    }

    #about {
        padding: 50px 0;
    }

    #about .fila1 {
        margin: 5px 0;
    }
    #about .img-photo {
        width: 360px;
        height: 350px;
        margin: 10px auto;
    }
    
    #about img {
        width: 340px;
        height: 350px;
    }

    #about .fila2{
        margin: 45px 0;
        
    }
    #about .texto-about p {
        font-size: 17px;
        margin: 0 70px
    }
    
    #about .cv{
        margin: 15px 20%;
        padding: 2%;
    }
    #about .cv a{
        font-size: 25px;
        border-radius: 2px;

    }
    #about .cv i{
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
    }
    #habilidades .row {
        padding: 30px 0;
    }
    #habilidades .col-lg-1 {
       max-width: 85%;
       margin: 0
    }

    #habilidades i {
        font-size: 80px;
        margin: 0 12px;
    }

    #habilidades .imgIconoF img {
        width: 78px;
        height: 78px;
        margin: 4px 0px;
    }
    #habilidades .imgIconoG img {
        width: 78px;
        height: 85px;
        margin: 4px 0px;
    }
    #habilidades .imgIconoB img {
        width: 85px;
        height: 89px;
        margin: 3px 0px;
    }
    #habilidades .imgIconoN img {
        width: 150px;
        height: 60px;
        margin: 20px 3px;
    }
    #project {
        padding: 10px 0 10px;
    }

    #project .fila1,
    #project .fila2  {
        margin: 20px 0;
        padding: 20px 35px;
    }
    /* #project .fila1 .img-proyect,
    #project .fila2 .img-proyect,
    #project .fila3 .img-proyect{
        background-color: green;
    } */
    #project .fila1 img,
    #project .fila2 img,
    #project .fila3 img  {
        width: 430px;
        height: 230px;
        margin: 90px 5px;
    }
    #project .fila1 .contenido,
    #project .fila2 .contenido,
    #project .fila3 .contenido {
        margin: 20px 15px;
        padding: 20px 25px;
    }
    #project .fila1 h2, 
    #project .fila2 h2,
    #project .fila3 h2 {
        font-size: 45px;
        margin: 15px 0 20px;
    }

    #project .fila1 .contenido p,
    #project .fila2 .contenido p,
    #project .fila3 .contenido p{
        text-align: justify;
        font-size: 16px;
        line-height: 23px;
        margin: 10px 0;
    }
    #project .fila1 .contenido span,
    #project .fila2 .contenido span,
    #project .fila3 .contenido span{
        font-size: 18px;
        font-weight: 600
    }
    #project .fila1 .links, 
    #project .fila2 .links,
    #project .fila3 .links {
        width: 350px;
        font-size: 15px;
    }
    #project .fila1 .links .link1,#project .fila1 .links .link2,
    #project .fila2 .links .link1,#project .fila2 .links .link2,
    #project .fila3 .links .link1,#project .fila3 .links .link2 {
       
        padding: 5px 0 0;
        cursor: pointer;
    }

    #project .fila1 .links .link1 a,#project .fila1 .links .link2 a,
    #project .fila2 .links .link1 a,#project .fila2 .links .link2 a,
    #project .fila3 .links .link1 a,#project .fila3 .links .link2 a {
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
        padding: 4px 25px;
    }
    #project .fila1 .links .link1 h5, #project .fila1 .links .link2 h5,
    #project .fila2 .links .link1 h5, #project .fila2 .links .link2 h5,
    #project .fila3 .links .link1 h5, #project .fila3 .links .link2 h5{
        margin: 5px 0 0;
        font-size: 18px
    }
    #project .fila3{
        margin: 20px 0;
        padding: 50px 35px;
    }

    #contactame .row {
        padding: 20px 0;
    }
    #contactame .fila1 .linke,
    #contactame .fila1 .git,
    #contactame .fila1 .mail{
        padding-top: 10px;
        padding-left: 20px
    }
    #contactame .fila1 .linke a,
    #contactame .fila1 .git a,
    #contactame .fila1 .mail a{
        font-size: 30px;
    }

    #contactame .fila1 .guion{
        padding-top: 32px;
    }
    #contactame .fila1 .guion div{
        width: 50px;
        height: 5px;
        background-color: #ffffff;
        font-size: 70px;
    }
    #contactame .fila1 .logo img{
        width: 160px;
        height: 70px;
    }
    #contactame .fila1 .logo{
        padding-left: 105px;
    }
    #contactame .fila1 .mail-name{
        display: none
    }
    #contactame .fila1 .mail{
        display: block
    }
}

@media (min-width: 1200px) {


    #main .col {
        padding: 10px 0;
        height: 300px;
        border-radius: 2px;

    }
    .container {
        max-width: 1240px;
    }

}


.navscroll {
    background-color:purple;
    color:yellow;
    transition:background-color 500ms, color 500ms;
}

.navscroll.azul {
    background-color:blue;
    color:white;
}