body{
    margin: 0;
    padding: 0;
}
header{
    background-color: yellow;
}
nav{
    background: pink;
    display: inline-block;
    position: absolute;
    right: 20px;
}
ul{
    background: green;
    display: inline-block
}
li{
    background: red;
    display:inline-flex;
}